@charset "utf-8";
/*****************
//时间：2015年05月07日
//作者：彭慧聪
//邮箱：penghuicong@126.com
*****************/
/********************公共部分样式*********************/
.immon{
    float: left;
    _float:none;
}
*:focus {outline: none;}
.w80{
    width: 80%;
    min-width: 940px;
    max-width: 1150px;
    margin: 0 auto;
}
.w96{
    width: 96%;
    margin: 0 auto;
}
.w90{
    width: 95%;
    margin: 0 auto;
}
.pa20{
    padding-top: 20px;
}
.ma10{
    margin-bottom: 10px;
}
.mt20{
    margin-top: 20px;
}
img{
    vertical-align: top;
}
.content-box{
    width: 94%;
    margin: 0 auto;
    padding: 15px 0 0 0;
}
/**按钮**/
.button{
    text-align: center;
}
.btn{
    display: inline-block;
    height: 24px;
    margin: 0 10px;
    padding: 0 16px;
    border: 1px solid #979797;
    font: 12px/24px "Microsoft Yahei";
    color: #878079;
    border-radius: 3px;
}
.btn span.bg1{
    padding: 0 0 0 19px;
}
.ash-bg{
    background: #878079;
    color: #fff;
}
.orange-bg{
    border-color: #ff5722;
    background: #ff5722;
    color: #fff;
}
.comment-box{
    margin: 10px 0;
}
.w92{
    width: 92%;
    margin: 15px 0 0 8%;
}
/*输入框*/
.textarea-box{
    height: auto;
    margin: 0 0 10px 0;
    padding: 6px;
    border: 1px solid #edeae8;
    border-radius: 3px;
    background: #fff;
}
.textarea-box input{
    display: block;
    width: 100%;
    height: 22px;
    padding: 3px 0;
    border: none;
    font: 12px/22px "Microsoft Yahei";
}
.textarea-box textarea{
    width: 100%;
    height: 70px;
    resize: none;
    border: none;
    font: 12px/24px Arial,"Microsoft Yahei";
}
.textarea-box textarea.message{
    height: 45px;
}
/*兼容placeholder提示样式*/
.placeholder-tip{
    position: absolute;
    color: #999;
    padding: 1px;
    line-height: 22px\9;
    font-size: 12px;
}
/*表情框*/
span.emotion{
    width:42px;
    height:20px;
    background:url(../../images/newzone/icon.gif) no-repeat 2px 2px;
    padding-left:20px;
    cursor:pointer;
}
span.emotion:hover{
    background-position:2px -28px
}
.qqFace{
    margin-top:4px;
    background:#fff;
    padding:2px;
    border:1px #dfe6f6 solid;
}
.qqFace table td{
    padding:0px;
}
.qqFace table td img{
    cursor:pointer
    ;border:1px #fff solid;
}
.qqFace table td img:hover{
    border:1px #0066cc solid;
}
#show{
    width: 100%;
    margin: 0 auto;
    overflow: visible;
}
/******公共结构样式*******/
body{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background: #efeeed;
}
.layout{
    width: 100%;
    height: auto;
    padding: 47px 0 0 0;
    font: 12px/24px "Microsoft Yahei";
    color: #a09c97;
}
/*主题内容 wrap-box*/
.wrap-box{
    width: 80%;
    min-width: 940px;
    max-width: 1150px;
    margin: 0 auto;
    overflow: hidden;
}
.main{
    width: 100%;
    margin: 18px auto 0;
}
/*左边内容*/
.main-left{
    width: 230px;
}
.left-con{
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 0 12px 0;
    padding: 6px 0 14px 0;
    background: #fff;
    border-bottom: 1px solid #d7cec6;
    border-radius: 5px;
}
.zone-userinfo{
    padding: 47px 0 14px 0;
    background-size: 100%;
}
.left-photobg{
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 230px;
    height: 138px;
    background: url(../../images/newzone/js-bg-01.png) no-repeat left top;
}
/*头像信息*/
.left-box1::after{
    content: '';
    display: block;
    clear: both;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
}
.left-userName{
    z-index: 10;
    position: absolute;
    left: 100px;
    top: 50px;
}
.left-userName .left-namecon{
    z-index: 10;
    margin: 50px 0 0 10px;
    color: #4a4a4a;
    font: 18px/36px "Microsoft Yahei";
    height:36px;
	width:85px;
}
.left-userName .left-namecon1{
    z-index: 10;
    margin: 60px 0 0 10px;
}
.attention-btn{
    height: 32px;
    margin: 10px 0 0 0;
}
.attention-btn .btn{
    padding: 0 12px;
}
.attention-btn .fl span{
    padding-left: 16px;
    background: url(../../images/newzone/js-icon-18.gif) no-repeat left center;
}
.attention-btn .fr span{
    padding-left: 17px;
    background: url(../../images/newzone/js-icon-19.gif) no-repeat left center;
}
.left-box1{
	height:83px;
}
.left-box1 a img{
    margin: 0 0 0 14px;
    width: 83px;
    height: 83px;
    overflow: hidden;
}
.small-bell{
    display: block;
    width: 15px;
    height: 16px;
    margin: 60px 0 0 7px;
    background: url(../../images/newzone/js-icon-13.gif) no-repeat;
}
.small-bell_no{
    display: block;
    width: 15px;
    height: 16px;
    margin: 60px 0 0 7px;
    background: url(../../images/newzone/js-icon-13-normal.gif) no-repeat;
}
.left-box2{
    width: 90%;
    margin: 12px auto;
    padding: 0 0 8px 0;
    border-bottom: 1px solid #edeae8;
}
.left-box2 span{
    height: 26px;
    font: 12px/24px Arial, "Microsoft Yahei";
    color: #ff7144;
    width: 49%;
}
.left-box2 .immon{
    padding-right: 6px;
    color: #878079;
    line-height: 24px;
}
.left-box2 .integral{
    background: url(../../images/newzone/js-icon-08.gif) no-repeat left center;
}
.left-box2 .suffer{
    background: url(../../images/newzone/js-icon-09.gif) no-repeat left center;
}
.left-box3{
    width: 188px;
    height: 34px;
    margin: 0 auto;
    border: 1px solid #ff6332;
    background: #fff;
    border-radius: 5px;
}
.left-box3 a{
    display: inline;
    float: left;
    width: 94px;
    height: 34px;
    text-align: center;
    font: 12px/34px Arial, "Microsoft Yahei";
    color: #ff6332
}
.left-box3 a.orange-bg1{
    background: #ff6332;
    color: #fff;
}
/*左边 导航*/
.left-con .left-nav li{
    position: relative;
    height: 40px;
    line-height: 40px;
    padding: 0 0 0 19px;
    border-left: 2px solid #fff;
    cursor:pointer;
    font-size:14px;
}
.left-con .left-nav a{
    padding: 0;
    font: 14px/40px Arial,"Microsoft Yahei";
    color: #4a4a4a;
}
.left-con .left-nav li .immon{
    padding-right: 15px;
}
.left-con .left-nav li:hover,.left-con .left-nav li.cur{
    background: #f9f8f7;
    border-left: 2px solid #ff5722;
    color: #ff5722;
}
.circle{
    position: absolute;
    right: 4%;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    border-radius: 50%;
    background: #c6c0bb;
    font: bold 12px/20px Arial,"Microsoft Yahei";
    color: #fff;
    text-align: center;
}
/* .left-con .left-nav li.cur .circle,.left-con .left-nav li:hover .circle,.left-con .left-nav li.hover .circle{
    background: #ff5722;
} */
.left-con .left-nav li:hover .immon,.left-con .left-nav li.cur .immon,.left-con .left-nav li.hover .immon{
    color: #ff5722;
}

/*关注人员列表*/
.left-title{
    width: 190px;
    margin: 0 auto 15px;
    padding: 0px 0 0 0;
    font: 12px/34px "Microsoft Yahei";
    color: #757584;
	font-weight:bold;
	border-bottom:1px solid #ddd;
}
.photopic-list{
    width: 190px;
    margin: 0 auto;
    overflow: hidden;
}
.photopic-list ul{
    width: 210px;
}
.photopic-list li{
    position: relative;
    display: inline;
    float:left;
    width: 55px;
    height: 84px;
    margin: 0 15px 10px 0;
    z-index: 10;
}
.photopic-list li a{
    color: #333;
    font: 13px/24px "Microsoft Yahei";
    text-align: center;
}
.photopic-list li a span{
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 50px;
    height: 50px;
    background: url(../../images/newzone/left-photo-bg.png) no-repeat;
}
.photopic-list li a img{
    width: 50px;
    height: 50px;
    overflow: hidden;
    z-index: 5;
    border-radius:50%;
}
.visiter li{
    height: 100px;
}
.visiter .recent-time{
    font: 12px/18px Arial,"Microsoft Yahei";
    color: #999;
}
.left-con .page-turn{
    margin: 5px 0 0 10px;
}
.left-con .page-turn a{
    float: left;
    width: 11px;
    height: 13px;
    margin: 0 9px 0 0;
}
.left-con .page-turn a.prev-btn{
    background: url(../../images/newzone/js-btn-prev.gif) no-repeat;
}
.left-con .page-turn a.next-btn{
    background: url(../../images/newzone/js-btn-next.gif) no-repeat;
}
.left-con .page-turn a.prev-btn_no{
	pointer-events:none;
    background: url(../../images/newzone/js-btn-prev1.png) no-repeat;
}
.left-con .page-turn a.next-btn_no{
	pointer-events:none;
    background: url(../../images/newzone/js-btn-next1.png) no-repeat;
}
/*左边版权信息*/
.footer{
    width: 190px;
    margin: 0 auto;
    color: #333;
}
.footer a{
    padding: 0 6px;
    font: 12px/24px Arial,"Microsoft Yahei";
    color: #333;
}
/*右边内容*/
.main-right{
    width: 76%;
    padding-bottom: 50px;
}
.right-con{
    width: 100%;
    margin: 0 0 20px 0;
    padding: 0 0 0px 0;
    background: #fff;
    border-bottom: 1px solid #d7cec6;
    border-radius: 5px;
}
/*右边标题*/
.right-title{
    position: relative;
    /* width: 100%; */
    height: 40px;
    border: 1px solid #edeae8;
    border-left: none;
    background: #f9f8f7;
    border-radius: 5px;
}
.right-title li{
    width: 100px;
    height: 42px;
    margin-top: -1px;
    font: 12px/42px "Microsoft Yahei";
    background: #fff;
    text-align: center;
    color: #ff6139;
    border-right: 1px solid #edeae8;
}
.right-title li .immon{
    float: none;
    padding-right: 5px;
    color: #ff6139;
    vertical-align: -1px;
}
/*好友动态*/
.handle-btn a{
    display: inline-block;
    font: 12px/24px "Microsoft Yahei";
    margin-left: 10px;
    color: #ff5722;
    cursor: pointer;
}
.oth-pic{
    position: relative;
    margin: 0 15px 0 0;
}
.oth-pic img{
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius:50%;
}
.oth-pic span{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    display: block;
    width: 50px;
    height: 50px;
    background: url(../../images/newzone/left-photo-bg.png) no-repeat;
}
.other-con{
    margin: 10px 0 0 0;
    padding: 0 0 10px 0;
}
.other-con::after{
    content: "";
    display: block;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    clear: both;
}
.other-con .other-text{
    font: 13px/24px Arial, "Microsoft Yahei";
    color: #000;
     width: 100%;
}
.other-con .other-text a{
    color: #b5b5c2;
}
.oth-text a.user-Name{
    font: 14px/24px Arial,"Microsoft Yahei";
    color: #4a4a4a;
}
.timeSpan{
    font: 14px/24px Arial,"Microsoft Yahei";
    font-size: 12px;
    color: #a09c97;
}
.other-con .eye{
    width: 30px;
}
.other-con .immon{
    font-size: 22px;
    color: #c6c0bb;
}
.operate{
    width: 100%;
    height: 26px;
    margin: 10px 0;
}
/* .operate .fl a{
    margin: 0 0 0 20px;
} */
.operate .number{
    color: #333;
}
.operate .fl .immon{
    float: none;
    padding: 0 2px 0 0;
    font-size: 18px;
}
.operate .fr a{
    display: block;
    height: 35px;
    padding: 0 0 0 12px;
    border-left: 1px solid #edeae8;
    line-height: 35px;
}
/*.operate .fl a.support-icon{
    margin: 0;
    padding: 0 0 0 26px;
    background: url(../../images/newzone/iconfont-zan_r2_c2.png) no-repeat left center;
}
.operate .fl a.support-icon_no{
    margin: 0;
    padding: 0 0 0 26px;
    background: url(../../images/newzone/iconfont-zan_r2_c21.png) no-repeat left center;
}
.operate .fl a.support-icon:hover{
    margin: 0;
    padding: 0 0 0 26px;
    background: url(../../images/newzone/iconfont-zan_r2_c21.png) no-repeat left center;
}
.operate .fl a.support-icon_no:hover{
    margin: 0;
    padding: 0 0 0 26px;
    background: url(../../images/newzone/iconfont-zan_r2_c2.png) no-repeat left center;
}
*/
a.support-icon{
    margin: 0;
    padding: 0 0 0 20px;
    background: url(../../images/newzone/dianzan-now.png) no-repeat left center;
}
a.support-complete{
    margin: 0;
    padding: 0 0 0 20px;
    background: url(../../images/newzone/dianzan-cur.png) no-repeat left center;
}
.operate .fl a.comment-icon{
    margin: 0 0 0 0px;
    padding: 0 0 0 10px;   
    cursor:default;
}
.operate .fl a.comment-icon_no{
    margin: 0 0 0 0px;
    padding: 0 0 0 10px;
    cursor:default;
}
/*.operate .fl a.comment-icon:hover{
    margin: 0 0 0 0px;
    padding: 0 0 0 26px;
    background: url(../../images/newzone/iconfont-icon861.png) no-repeat left center;
	background: url(../../images/newzone/iconfont-icon861.png) no-repeat left center;
	background: url(../../images/newzone/iconfont-icon861.png) no-repeat left center;

}*/
/*.operate .fl a.comment-icon_no:hover{
    margin: 0 0 0 0px;
    padding: 0 0 0 26px;
    background: url(../../images/newzone/iconfont-icon862.png) no-repeat left center;

}*/
.operate .fr .immon{
    font-size: 24px;
}
/*评论列表*/
.comment-list{
    margin: 0 auto;
}
.add-border{
    margin: 0 auto;
    padding: 2px 3% 10px;
    background: #f9f8f7;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.comment-list li{
    width: 100%;
    margin: 0 0 15px 0;
    padding: 0 0 15px 0;
    border-bottom:1px solid #edeae8;
}
.comment-list li:last-child{
    border-bottom:none;
}
.comment-list li::after{
    content: '';
    display: block;
    clear: both;
}
.comment-list .photo{
    position: relative;
    width: 40px;
    height: 40px;
}
.comment-list .photo img{
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius:50%;
}
.comment-list .photo span{
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 40px;
    height: 40px;
    background: url(../../images/newzone/left-photo-bg1.png) no-repeat;
}
.comment-list .person-con{
    display: inline;
    float: right;
    width: 92%;
}
.comment-list .name-info a{
    padding: 0 8px 0 0;
    font: 14px/14px "Microsoft Yahei";
    color: #000;
}
.comment-list .name-info a span{
    padding: 0 6px;
    font: 12px/24px "Microsoft Yahei";
    color: #c0bbb5;
}
.comment-list .intro-info{
    font: 13px/24px "Microsoft Yahei";
    color: #333;
}
.comment-list .intro-info a{
    color: #b5b5c2;
    padding: 0 5px;
}
.comment-list .name-info{
	height: 15px;
    line-height:14px;
    margin-bottom: 6px;
    color: #000;
}
.comment-list .name-info a.red-color{
    color: red;
    padding: 0 0 0 8px;
}
.comment-list .big-first{
    margin: 0 0 20px 0;
    padding-bottom: 15px;
    border-bottom: 1px solid #edeae8;
}
.comment-list .big-first::after{
    content: '';
    display: block;
    clear: both;
    font-size: 0;
    line-height: 0;
}
.comment-list .publish-info a,.comment-list .publish-info span{
    float: left;
    padding: 0 5px;
}

/*二级评论*/
.two-floor{
    width: 92%;
    padding: 0;
    margin: 15px 0 0 8%;
}
/*更多*/
.main-more{
    height: 38px;
    margin: 15px 0 0 0;
    background: url(../../images/newzone/main-more_bg.gif) repeat-x;
    border: 1px solid #ddd;
    text-align: center;
    font: 14px/38px "Microsoft Yahei";
    color: #666;
}
.main-more a{
    padding-right: 19px;
    background: url(../../images/newzone/main-more_bg2.gif) no-repeat right center;
}

/*推荐学校 关注列表*/
.school-list{
    width: 190px;
    margin: 0 auto;
}
.school-list li{
    margin: 0 0 27px 0;
    vertical-align: middle;
}
.school-list .school-pic{
    width: 50px;
    margin: 0 10px 0 0;
    text-align: center;
}
.school-list li::after{
    content: '';
    display: block;
    font-size: 0;
    line-height: 0;
    clear: both;
    overflow: hidden;
}
.school-info{
    float: right;
    width: 130px;
    margin: 3px 0 0 0;
    font: 13px/16px Arial,"Microsoft Yahei";
    color: #4a4a4a;
}
a.btn2{
    display: block;
    width: 50px;
    height: 18px;
    margin: 3px 0 0 0;
    font: 12px/17px "Microsoft Yahei";
    border: 1px solid #878079;
    text-align: center;
}
/*日志分类管理*/
.normal-title{
    width: 96%;
    height: 40px;
    margin: 0 auto;
    padding: 0 2%;
    font: 14px/51px "Microsoft Yahei";
    border-bottom: 1px solid #edeae8;
    color: #b0a9a2;
}
.back-list{
    color: #b9b0aa;
}
.back-list .immon{
    padding: 0 5px 0 0;
    color: #878079;
    font-size: 16px;
}
.log-list li{
    height: 45px;
    border-bottom: 1px dashed #cbcbcb;
    font: 13px/45px Arial,"Microsoft Yahei";
    color: #333;
}
.show-edit{
    display: none;
}
#new_edit{
    display: block;
}
.show-edit input{
    width: 300px;
    padding: 5px 3px;
    border: 1px solid #a5c7fe;
}
.show-edit button{
    display: inline-block;
    padding: 0 15px;
    margin: 0 5px 0 10px;
    background: #5caae6;
    border: 1px solid #4899d7;
    font: 12px/24px "Microsoft Yahei";
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
}
.add-class{
    margin: 16px 0 0 0;
}
.add-class .immon{
    color: #fff;
}
/*日志列表*/
.top-bar{
    padding: 0 0 20px 0;
    border-bottom: 1px solid #edeae8;
}
.log-classify li{
    position: relative;
    display: inline;
    float: left;
    margin: 0 23px 0 0;
    font: 12px/32px Arial,"Microsoft Yahei";
    color: #8c867f;
}
.log-classify li img{
    margin-top:6px;
    margin-right:3px;
}
.log-classify li i{
    display: block;
    position: absolute;
    left: 50%;
    bottom: -21px;
    width: 15px;
    height: 9px;
    margin-left: -7px;
    background: url(../../images/newzone/js-bg-01.gif) no-repeat center bottom;
    z-index:0;
}
.other-list{
    display: none;
    position: absolute;
    /*left: 50%;*/
    top: 32px;
    width: 160px;
    border: 1px solid #edeae8;
    margin-left: -55px;
    /*padding: 0 15px;*/
    background: #fff;
    z-index:1;
}
.log-classify li h3{
    color: #333;
    cursor: pointer;
}
 .log-classify .other-list li{
    position: static;
    display: block;
    float: none;
    margin: 0;
    padding: 0;
    font: 12px/24px "Microsoft Yahei";
    text-align: left;
    text-indent:5px;
}
.log-list-box li{
    margin: 15px 0 0 0;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #edeae8;
}
.log-list-box li h3{
    font: 16px/32px "Microsoft Yahei";
}
.log-list-box li p{
    margin: 15px 0;
    text-indent: 2em;
    color: #818181;
}
.new-log .immon{
    color: #fff;
}
.log-info{
    color: #bfbab4;
}
.log-info span,.log-info a{
    display: inline-block;
    margin-right: 25px;
}
.log-info b{
    color: #878079;
}
.log-info .immon{
    color: #8c857f;
    float: none;
    padding-right: 5px;
    font-size: 16px;
    line-height: 24px;
    vertical-align: top;
}
/*日志查看*/
.operate-toolbar{
    padding: 10px 0 11px 0;
    text-align: center;
    border-top: 1px dashed #cbcbcb;
}
.operate-toolbar span,.operate-toolbar a{
    display: inline-block;
    margin: 0 26px 0 0;
}
.log_title{
    height: 42px;
    text-align: center;
    font: 18px/32px Arial,"Microsoft Yahei";
	font-weight:bold;
	border-bottom:1px dashed #ddd;
    color: #333;
    outline:none;
}
.able{
    border: 2px solid #a5c7fe;
    outline: none;
}
.able input{
    display:block;
    width: 90%;
    height: 100%;
    padding: 0 5%;
    border: none;
    text-align: center;
    font-size: 26px;
    font-family: 'Microsoft Yahei';
}
.able input::-webkit-input-placeholder {
   font-size: 26px;
}
.able input:-moz-placeholder {
　　font-size: 26px;
}
.able input::-moz-placeholder {
　　font-size: 26px;
}
.able input:-ms-input-placeholder {
　　font-size: 16px;
}
.operate-toolbar .immon{
    float: none;
    padding: 0 5px 0 0;
    font-size: 16px;
    vertical-align: top;
    color: #a09c97;
}
.log-look .h1{
    margin-bottom: 20px;
    font: 16px/32px "Microsoft Yahei";
    color: #878079;
    border: 1px solid #edeae8;
    text-align: center;
    border-radius: 5px;
}
.log-look .log_text{
    margin: 18px auto;
    font: 14px/24px Arial,"Microsoft Yahei";
    color: #333;
}
.log-look .log_text p{
    margin-bottom: 20px;
}
.log-choose{
    margin: 20px 0;
}
/*我的消息*/
.info-list li{
    margin-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px dashed #cbcbcb;
    cursor: pointer;
}
.info-list li input{
    vertical-align: middle;
}
.info-list li::after{
    content: '';
    display: block;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    clear: both;
}
.info-list li .fl{
     width: 87%;
}
.info-list li a{
    display: inline;
    float: right;
    display: none;
}
.info-list li span{
    display: inline;
    float: left;
    width: 80%;
    margin: 0 0 0 2%;
    padding: 0 0 0 5%;
    font: 12px/24px Arial,"Microsoft Yahei";
    color: #90979d;
}
..set-btn input{
    _border: none;
    outline: none;
    font-size: 12px;
    border-collapse: separate;
}
.info-list li .fl input{
    display: inline;
    float: left;
    margin: 6px 0 0 0;
    padding: 0;
    _border: none;
    outline: none;
    font-size: 12px;
    border-collapse: separate;
}
.info-list li span.no-look{
    font-weight: bold;
    color: #000;
    background: url(../../images/newzone/js-icon-17.gif) no-repeat left 6px;
}
@media screen and ( max-width: 939px ) {
    .wrap-box{
        width: 940px;
    }
    .main-right{
        width: 73%;
    }
}
@media screen and ( min-width: 940px ) {
    .main-right{
        width: 73%;
    }
}
@media screen and ( min-width: 1280px ) {
    .main-right{
        width: 75%;
    }
}
@media screen and ( min-width: 1320px ) {
    .main-right{
        width: 76%;
    }
}
@media screen and ( min-width: 1360px ) {
    .main-right{
        width: 77%;
    }
}
@media screen and ( min-width:1440px ) {
    .wrap-box{
        width: 1150px;
    }
    .main-right{
        width: 78%;
    }
}

.add-orange{
    border-color: #ff6332;
}

/*消息回复弹出框*/
#shade{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 101;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #000;
    opacity: 0.5;
    filter:alpha(opacity=50);
}
.reply-window{
    display: none;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -285px;
    z-index: 110;
    width: 570px;
}
.reply-box{
    width: 568px;
    height: 336px;
    margin: 0 auto;
    border: 1px solid #ddd;
    background: #f9f9f9;
    border-radius: 5px;
}
.reply-box h1{
    padding-left: 20px;
    font: bold 12px/35px "Microsoft Yahei";
    border-bottom: 1px solid #ddd;
    color: #030303;
}
.reply-con{
    width: 96%;
    margin: 0 auto;
    color: #2b2b2f;
}
.reply-con p{
    font: 12px/40px "Microsoft Yahei";
}
.reply-con .receiver{
   
}
.reply-con textarea{
    height: 160px;
    padding: 5px;
    resize: none;
}
.other-con .w93{
    width: 93%;
}
.pb{
    padding-bottom: 20px;
}

/*2015-05-12 cl */
#userPic{ cursor:pointer;  width:80px; height:80px; float:left; margin:51px 0px 0px 21px;}
.userImg{ background:url(../../images/newzone/js-bg-02.png);}
.userPic-content{ position:absolute; right:5px; display:none; border:1px solid #ddd; border-radius:3px; background:#fff; width:75px; top:37px; z-index:111;}
.userPic-content ul{ list-style:none; width:100%;}
.userPic-content ul li.ml{ margin-right:0px;height:28px; float:none; display:inherit; line-height:28px; cursor:pointer; text-indent:5px; margin-left:0px;}
.userPic-content ul li img{ float:left; margin:4px 5px 0px 8px;}
.userPic-content ul li:hover{ background:#F4F4F4; font-weight:bold; color:#000;}

/* .comment-box{display:none} */ /*默认隐藏，点击评论，给我回复显示*/

.newreplay{ font-size:13px; color:#000; float:left; margin-left:5px;}
.newreplay a.red-color{ color:#FF5722; margin-left:3px; font-size:14px; }

/*2015-05-21*/
.fl-h{ line-height:14px; color:#999; display:inline-block;}



/*课例研究首页样式添加*/
.ptb10{
    padding: 10px 0;
}
.menusNav{
    width: 100%;
    height: 42px;
    overflow: hidden;
    background: #efeeed;
}
.menusNav .menu-nav{
    height: 100%;
}
.menusNav li{
    display: inline;
    float: left;
    height: 100%;
    margin: 0 20px 0 0;
    padding: 0 51px;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #e6e0d9;
    cursor: pointer;
}
.menusNav li:last-child{
    margin: 0;
}
.menusNav li a{
    display: inline-block;
    width: 100%;
    height: 100%;
    font: 14px/42px "Microsoft Yahei";
    color: #4a4a53;
}
.menusNav li.cur{
    background: #fff;
}
.menusNav li.cur a{
    color: #ff96b9
}
.work-con{
    width: 100%;
    margin: 0 auto;
}
.right-main{
    width: 100%;
    margin: 0 auto;
    padding: 20px 0 0 0;
    background: #fff;
    border-bottom: 1px solid #d7cec6;
}
.right-main .course{
    width: 665px;
    margin: 0 auto;
    overflow: hidden;
}
.right-main .course  ul{
    width: 680px;

}
.right-main .course li{
    display: inline;
    float: left;
    width: 295px;
    margin: 0 24px 20px 0;
    padding: 9px;
    border: 1px solid #e8e5e5;
    border-radius: 5px;
}
.right-main .course li img{
    width: 167px;
    height: 113px;
    overflow: hidden;
    border: 1px solid #dfdede;
}
.right-main .course li .fr{
	width: 110px;
}
.right-main .course li h3 {
  margin: 0px;
  font: bold 14px/28px Arial,"Microsoft Yahei";
  color: #000;
}
.right-main .course li .btn {
  margin: 0px;
}
/*我的研修消息列表样式*/
.project-conbox{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.project-conbox .rude{
    font-weight: bold;
}
.pro-detail{
    margin-bottom: 20px;
    border: 1px solid #ddd;
}
.item-title{
    height: 41px;
    padding: 0 2%;
    background: #fbfbfb;
    border-bottom: 1px solid #ddd;
    font: 12px/41px Arial,'Microsoft Yahei';
    color: #000;
}
.item-title .immon{
    float: none;
    padding: 0 5px 0 0;
}
.item-title h3{
    font-weight: bold;
}
.item-title h3 span{
    padding: 0 0 0 8px;
    font-weight: normal;
    color: #ff6d40
}
.item-title a{
    margin-left: 16px;
    color: #000;
}
.inform-box{
    width: 96%;
    margin: 11px auto;
    padding: 0 0 12px 0;
    overflow: hidden;
    color: #000;
    background: url(../../images/zone/inform-boxbg.jpg) no-repeat center center;
}
.inform-title h2{
    height: 18px;
    padding: 0 0 0 8px;
    border-left: 2px solid #ff4101;
    font: 13px/18px Arial,'Microsoft Yahei';
    color: #000;
}
.inform-title a{
    color: #000;
}
.inform-box li{
    display: inline;
    float: left;
    width: 47%;
    height: 29px;
    padding-left: 8px;
    font: 12px/29px Arial,'Microsoft Yahei';
    border-bottom: 1px dashed #efefef;
    background: url(../../images/zone/list-bg1.jpg) no-repeat left center;
}
.inform-box li a{
    width: 80%;
    color: #000;
    overflow: hidden;
}
.inform-box li span{
    color: #999;
}
.news-box{
    width: 96%;
    margin: 0 auto;
}
.news-box li{
    height: 31px;
    overflow: hidden;
    font: 12px/31px Arial,'Microsoft Yahei';
    border-bottom: 1px dashed #efefef;
}
.news-box li:hover,.news-box li.hover{
    background: #f9fbfd;
}
.news-box li .fl{
    width: 65%;
    overflow: hidden;
}
.news-box li span{
    color: #999;
}
.news-box .control{
    display: inline;
    float: left;
    margin-left: 16px;
}
.news-box .control .delete-btn{
    padding-left: 16px;
    color: #b62222;
}
.addresser{
    display: inline;
    float: left;
    margin: 0 0 0 16px;
    color: #000;
    width: 10%;
    text-align: center;
}
.pb20{
    padding-bottom: 20px;
}
/*2015-06-04 消息列表 删除 回复 底边线*/
.div-border-bottom{
	border-bottom: 1px solid #E1E0DE;
	margin: 0px 0px 15px;
	padding: 0px 0px 10px;
}
/* 再次添加信息通告样式2015.06.09 */
.project-conbox{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.projectTitle{
    width: 100%;
    height: 32px;
    font: 14px/32px Arial,"Microsoft Yahei";
    color: #ff5722;
    border-bottom: 1px solid #e5e5e5;
}
.projectTitle a{
    color: #767673;
    font-size: 12px;
}
.projectTitle .inform{
    padding: 0 0 0 18px;
    background: url(../../images/train/yx-info-01.gif) no-repeat left center;
}
.projectTitle .message{
    padding: 0 0 0 18px;
    background: url(../../images/train/yx-info-02.gif) no-repeat left center;
}
.information-list{
    margin-bottom: 20px;
}
.information-list li{
    display: inline;
    float: left;
    width: 45%;
    height: 24px;
    overflow: hidden;
    margin-top: 8px;
    padding-left: 15px;
    border-bottom: 1px dashed #c2c2c2;
    font: 12px/24px Arial,'Microsoft Yahei';
    background: url(../../images/project/icon-04.png) no-repeat left center;
}
.information-list li a{
    width: 60%;
}
.information-list li span{
    width: 35%;
    text-align: left;
}
.finishState-title{
    width: 100%;
    height: 35px;
    margin: 0 0 6px 0;
    border-bottom: 1px solid #cfcfcf;
}
.finishState-title li{
    display: inline;
    float: left;
    height: 35px;
    font: 14px/35px Arial,"Microsoft Yahei";
    color: #999997;
}
.finishState-title li a{
    float: left;
    margin: 0 4px 0 0;
    padding: 0 9px;
    color: #161615;
}
.finishState-title li a:hover,.finishState-title li a.cur{
    border-bottom: 2px solid #ff5722;
    color: #ff5722;
}
.state-working li{
    position: relative;
    width: 100%;
    height: 58px;
    overflow: hidden;
    margin: 0 0 9px 0;
    border-bottom: 1px solid #e5e5e5;
}
.state-working li .fl{
    width: 65%;
}
.state-working li h3{
    padding: 3px 0 0 0;
    font: 14px/28px Arial,'Microsoft Yahei';
    color: #161615;
}
.state-working li .state-data{
    padding: 0 0 6px 0;
    font: 12px/24px Arial,'Microsoft Yahei';
    color: #b5b5b2;
}
.look-project{
    position: absolute;
    top: 50%;
    margin-top: -12px;
    right: 0;
}
.look-project a{
    float: left;
    height: 24px;
    margin: 0 8px;
    padding: 0 15px 0 10px;
    background: #ff5722;
    color: #fff;
    border-radius: 2px;
}
.look-project a .immon{
    float: left;
    color: #fff;
    padding: 0 7px 0 0;
}
/*2015-6-9 日志查看页面 详情操作栏 点赞把margin-right至2,把灰色字改为#333*/
.operate-toolbar a.pd2{
	margin-right:2px;
}
.operate-toolbar span,.operate-toolbar .immon{
	color:#333;
}
.in-line{
	display:inline-block;
	width:117px;
}
.conZan{
	width:95px;
	float:left;
}

/*404*/
.none404{
    min-height: 500px;
    background: url(../../images/newzone/lost-bg.jpg) no-repeat center 90px;
    font: 14px/30px Arial,'Microsoft Yahei';
    color: #000;
}
.none404 a{
    color: #d81313;
    font: 12px/30px Arial,'Microsoft Yahei';
    text-decoration: underline;
}